# DICT

In [30]:
emp = {
    "name":'ram',
    'age':22,
    'sal':223,
    'post':'manager',
    'add':'noida'
}
print(emp)

{'name': 'ram', 'age': 22, 'sal': 223, 'post': 'manager', 'add': 'noida'}

In [31]:
print(type(emp))

<class 'dict'>

In [32]:
for i in emp.values():
    print(i)

ram
22
223
manager
noida

In [41]:
year = int(input("Enter Year : "))
if (year%400==0) and (year%100==0):
    print(f"{year} is Leap Year")
elif (year%4==0) and (year%4 !=  0):
      print(f"{year} is Leap Year")
        
else:
    print(f"{year} is Not Leap Year")

Enter Year : 2100
2100 is Leap Year

In [45]:
num = 33
'positive' if num>0 else('negative' if num<0 else 'zero')

'positive'

In [52]:
num = [1,2,3,4,5,6,7,8,9,10]
sqr =[]
cube = []
for i in num:
     print(i)
    if i%2==0:
        sqr.append(i**2)
    else:
        cube.append(i**3)
        
print(num)
   
print(sqr)
print(cube)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 16, 36, 64, 100]
[1, 27, 125, 343, 729]

In [56]:
num1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
sqr =[]
cube = []
for i in num1:
    if i>=10:
        sqr.append(i**3)
    else:
        cube.append(i**2 )
print(sqr)
print(cube)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [66]:
gender = ['male','male','female','male','female','male']

malen = 0
male = []
femalen =0
female= []
for i in gender:
    if i == 'male':
        malen+=1
        male.append(i.upper())
    else:
        femalen+=1
        female.append(i.swapcase())
print(malen)
print(femalen)
print(male)
print(female)

4
2
['MALE', 'MALE', 'MALE', 'MALE']
['FEMALE', 'FEMALE']

In [82]:
person = {
    'name':'ashish',
    'age':22,
    'sal':222,
    'mob':63456757623
                    
}
for i in person:
    print(f" {i} : {person[i]}")

 name : ashish
 age : 22
 sal : 222
 mob : 63456757623

In [92]:
list1 = list(range(1,11))
sum = 0
for i in list1:
    sum = sum+i
print(sum)

55

In [93]:
mul = 1
for i in list1:
    mul=mul*i
    print(mul)

1
2
6
24
120
720
5040
40320
362880
3628800

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
list2 = list(range(1,21))
sum = 0
for i in list2:
    if i>10:
        sum+=i
        print(sum)

11
23
36
50
65
81
98
116
135
155