
#  SET

In [5]:
x = {11,11,11,22,22,22,33,44,44,555,66,77,77,88,88,8,9,99,0,9,0,0}
print(type(x))
print(x)

<class 'set'>
{0, 33, 66, 99, 8, 9, 11, 44, 555, 77, 22, 88}

In [59]:

x = set([11.22,33,3,4,4,5,5,6])
print(x)
print(type(x))

{33, 3, 4, 5, 6, 11.22}
<class 'set'>

In [60]:
#Creating a set 

set1 = set(['banana','apple','grapes','lichi'])
print(set1)

# add () use single item in set


set1.add('papaya')
print(set1)

{'apple', 'banana', 'grapes', 'lichi'}
{'banana', 'papaya', 'lichi', 'apple', 'grapes'}

In [61]:
# update() use multiple item in set

set1.update(['mango','orenge','pine-apple'])
print(set1)

{'pine-apple', 'banana', 'papaya', 'lichi', 'apple', 'mango', 'orenge', 'grapes'}

In [62]:
# remove() 

# remove method give error the key are looking for in not available

set1.remove('banana')

print(set1)

{'pine-apple', 'papaya', 'lichi', 'apple', 'mango', 'orenge', 'grapes'}

In [58]:
# 

set1.discard('banana')
print(set1)

{'pine-apple', 'papaya', 'lichi', 'apple', 'mango', 'orenge', 'grapes'}