In [3]:
# ADD , SUB 
a = int(input("ENTER THE FIRST NUMBER - "))
b = int(input('ENTER THE SECOND NUMBER - '))
c =a+b
d = a-b
e = a*b
f = a/b
print("ADD - ",c)
print('SUB - ',d)
print('MUL - ',e)
print('DIV - ',f)

ENTER THE FIRST NUMBER - 78
ENTER THE SECOND NUMBER - 98
ADD -  176
SUB -  -20
MUL -  7644
DIV -  0.7959183673469388

In [8]:
# TABLE OF ANY NUMBER  for loop

num= int(input("ENTER THE NUMBER - "))
for i in range(1,11):
    print(num,'*',i,'=',i*num)

ENTER THE NUMBER - 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [12]:
#while loop
num = int(input('ENTER THE NUMBER - '))
n = 1
while n<11:
    print(num,'*',n,'=', n*num)
    n=n+1

ENTER THE NUMBER - 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [4]:
a = 'hello'
a.capitalize()

'Hello'

In [5]:
a.casefold()

'hello'

In [33]:
for i in range(1,10):
    for j in range(1,10):
        if i<=j:
            print("* ",end="")
        else:
            print(" ",end="")
    print("")

* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [44]:
for i in range(65,91):
    print(chr(i),end="   ")

A   B   C   D   E   F   G   H   I   J   K   L   M   N   O   P   Q   R   S   T   U   V   W   X   Y   Z

In [55]:
for i in range(97,123):
    print(chr(i),end="  ")

a  b  c  d  e  f  g  h  i  j  k  l  m  n  o  p  q  r  s  t  u  v  w  x  y  z

In [2]:
ascii = int(input("enter the ascii value - "))
b=chr(ascii)
print(b)

enter the ascii value - 76
L

In [3]:
a = [1,2,3,4,5,6,7]
result = sum(a)
print(result)

28

In [2]:
def mul(n):
    mul=1
    for i in n:
        mul=mul*1
    return mul
mul((12,23,33))

1

In [3]:
a = [1,23,44,55,6,4]
sum=0
for i in a:
    sum=sum+i
    print(sum)

1
24
68
123
129
133

In [4]:
a = [1,23,44,55,6,4]
min(a)

1