In [7]:
# find value to ascii value

chr = input("enter the charecter - ")
a = ord(chr)    # use ord() to find ascii value
print(a)

enter the charecter - &
38

In [21]:
# convert decimal to binary

num = int(input("ENTER THE DECIMAL NUMBER - "))
n = bin(num)   # bin() use covert in binary
print(num, " BINARY NUMBER IS - ",n)

ENTER THE DECIMAL NUMBER - 456
456  BINARY NUMBER IS  0b111001000

In [25]:
# convert decimal to octal

num = int(input("ENTER THE DECIMAL NUMBER - "))
a = oct(num)  # use oct()
print(num," OCTAL NUMBER IS - ",a)

ENTER THE DECIMAL NUMBER - 8
8  OCTAL NUMBER IS -  0o10

In [26]:
# convert decimal to hexadecimal

num = int(input("ENTER THE DECIMAL NUMBER - "))
a = hex(num)  #use hex()
print(num," HEXADECIMAL NUMBER IS - ",a)

ENTER THE DECIMAL NUMBER - 16
16  HEXADECIMAL NUMBER IS -  0x10

In [34]:
# build calculater

num1 = int(input("ENTER THE NUMBER 1 = "))
num2 = int(input("ENTER THE NUMBER 2 = "))
opr = input("ENTER THE OPRATOR  =  ")
if opr=='+':
    print("ADD ",num1+num2)
    
elif opr=='-':
    print("SUB ",num1-num2)
elif opr=='*':
    print("MUL ",num1*num2)
elif opr=='/':
    print("DIV ",num/num2)
elif opr=='%':
    print("MOD ",num1%num2)
else:
    print('INVALID OPRATOR PLEAS SELECT - + - * / %')

ENTER THE NUMBER 1 = 10
ENTER THE NUMBER 2 = 3
ENTER THE OPRATOR  =  %
MOD  1

In [37]:
# 1 FIND THE LENGTH OF STRING

str = input("ENTER THE STRING ")
a = len(str)
print("length is ",a)

ENTER THE STRING jhghudut
length is  8

In [46]:
# 2 FIND THE LENGTH OF STRING


str = input("ENTER THE STRING - ")
count = 0
for i in str:
    count = count+1
print(count)

ENTER THE STRING - hello python
12

In [60]:
# FIND PRIME NUMBER OR COMPOSIT NUMBER

num = int(input("ENTER THE NUMBER - "))
count = 0
i=1
while i<=num:
    if num%i==0:
        count=count+1
    i=i+1
if count==2:
    print("ITS A PRIME NUMBER")
elif count>2:
    print("ITS A COPOSIT NUMBER")
else:
    print("THE NUMBER IS NEITHER PRIME NOR COPOSITE")

ENTER THE NUMBER - 13
ITS A PRIME NUMBER

In [67]:
# FIND SUM OF LIST
a = [12,34,34,55,66]
sum=0
for i in a:
    sum=sum+i
print(sum)

201

In [13]:
a = [11,34,54,22,32,12,12]
sum=0
for i in range(0,len(a)):
    sum=sum+a[i]
print(sum)

177

In [19]:
a = [11,34,54,22,32,12,12]
sum=0
i=0
while i<len(a):
    sum=sum+a[i]
    i=i+1
print(sum)

177

In [2]:
# user input add data in list
lst = []
n = int(input("ENTER THE TOTAL ELEMENT YOU WANT INSIDE YOUR LIST - "))
for i in range(0,n):
    ele=int(input())
    lst.append(ele)
print(lst)
sum=0
for j in lst:
    sum=sum+j
print(sum)

ENTER THE TOTAL ELEMENT YOU WANT INSIDE YOUR LIST - 11
11
22
333
44
55
66
77
88
99
00
88
[11, 22, 333, 44, 55, 66, 77, 88, 99, 0, 88]
883

In [2]:

l = []
n = int(input('enter the number add in list  '))
for i in range(0,n):
    ele = input('enter the data  ')
    l.append(ele)
print(l)

enter the number add in list  2
enter the data  hello
enter the data  python
['hello', 'python']

In [1]:
# find the when age will be 100 year old?

name = input("ENTER YOUR NAME ")
age = int(input("ENTER THE AGE "))
birth_year=2022-age
print(name+" you born in the "+str(birth_year)+' year')

ENTER YOUR NAME ashish
ENTER THE AGE 22
ashish you born in the 2000 year

In [3]:
# find the when age will be 100 year old?

name = input("ENTER YOUR NAME ")
age = int(input("ENTER THE AGE "))
birth_year=2022-age
print(name+" you born in the "+str(birth_year)+' year')
future_year=birth_year+100
print(name+' you will be 100 year old in '+str(future_year)+' year')

ENTER YOUR NAME ashish
ENTER THE AGE 22
ashish you born in the 2000 year
ashish you will be 100 year old in 2100 year

In [5]:
# print fibonacci sequence
no = int(input("enter the no till what you want the series  "))
a=0
b=1
c=0
i=1
while i<no:
    c=a+b
    a=b
    b=c
    i=i+1
    
print(c)

enter the no till what you want the series  5
5

In [9]:
# return middle chr in string

st = input("enter the string : ")
middle = int(len(st)/2)
print(middle)
print(st[middle-1:middle+2])

enter the string : before
3
for