# For Loop

In [1]:
for i in range(1,10):
    for j in range(1,10):
        print(i*j,end="  ")
    print()

1  2  3  4  5  6  7  8  9
2  4  6  8  10  12  14  16  18
3  6  9  12  15  18  21  24  27
4  8  12  16  20  24  28  32  36
5  10  15  20  25  30  35  40  45
6  12  18  24  30  36  42  48  54
7  14  21  28  35  42  49  56  63
8  16  24  32  40  48  56  64  72
9  18  27  36  45  54  63  72  81

In [6]:
star  = int(input("ENTER THE NUMBER : "))
for i in range(1,star+1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

ENTER THE NUMBER : 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [7]:
star  = int(input("ENTER THE NUMBER : "))
for i in range(1,star+1):
    for j in range(1,i+1):
        print('*',end=" ")
    print('')

ENTER THE NUMBER : 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [13]:
li = [1,3,4,5,6,7,8,9,11,2,11,22]
i = 0
while i<len(li):
    print(li[i]**2)
    i+=1

1
9
16
25
36
49
64
81
121
4
121
484